.row
  .col-md-4
    - if homework.rejected?
      = link_to 'Rejected', root_path, class: 'btn disabled btn-danger btn-block btn-flat'
    - if homework.pending?
      %button.btn.btn-primary.btn-block.btn-flat{'data-target' => '#reject_comment', 'data-toggle' => 'modal', type: 'button'}
        Reject
  .col-md-offset-4.col-md-4
    - if homework.approved?
      = link_to 'Approved', root_path, class: 'btn disabled btn-success btn-block btn-flat'
    - else
      = link_to 'Approve', approve_homework_path(lesson, homework), method: :put, remote: true, class: 'btn btn-primary btn-block btn-flat'
