= provide(:title, 'Courses list.')

.content-header
  %h1
    Courses list.
    %small User courses
%section.content
  .row
    - if @courses.present?
      - @courses.each do |course|
        = render 'courses/course', course: course
    - else
      %h2 There are no courses yet.
  .text-center
    = paginate @courses
