= provide(:title, 'Create new lesson.')

.content-header
  %h1
    Create new lesson.

%section.content
  .row
    .col-md-6.col-md-offset-3
      .box.box-primary
        .box-header.with-border
          %h3.box-title Create new lesson.
        = render 'form', lesson: @lesson
