.col-md-4
  .box.box-widget
    .box-header.with-border
      .user-block
        %img.img-circle{alt: 'user image', src: '/assets/user1-128x128.jpg'}
          %span.username
            %a{href: '#'}
            = course.user.email
          %span.description
            Shared publicly -
            = l(course.created_at, format: '%d %B %Y')
      .box-tools
        %button.btn.btn-box-tool{'data-toggle' => 'tooltip', title: 'Mark as read'}
          %i.fa.fa-circle-o
        %button.btn.btn-box-tool{'data-widget' => 'collapse'}
          %i.fa.fa-minus
        %button.btn.btn-box-tool{'data-widget' => 'remove'}
          %i.fa.fa-times
    .box-body
      = image_tag(course.picture.thumb, alt: 'Course photo', class: 'img-responsive pad')
      %h2= course.title
